name: Allure Report

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      browser:
        description: 'Выберите браузер для тестов'
        required: true
        default: 'chrome'
        type: choice
        options:
          - chrome
          - firefox
      test_filter:
        description: 'Какие тесты запустить? (например, LoginTest или *)'
        required: true
        default: '*'

permissions:
  contents: write

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run tests
        run: |
          # Если запуск ручной, берем инпуты. Если автоматический (push), используем дефолты.
          BROWSER=${{ github.event.inputs.browser || 'chrome' }}
          TEST_FILTER=${{ github.event.inputs.test_filter || '*' }}
          mvn clean test -Dbrowser=$BROWSER -Dtest=$TEST_FILTER
        continue-on-error: true

      - name: Load Allure history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build Allure report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: target/allure-results
          allure_history: allure-history

      - name: Deploy Allure report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
